# Бинарные файлы (скомпилированные файлы)
# По умолчанию Go создает исполняемые файлы с тем же именем, что и папка/модуль
**/.exe
*.exe~
*.dll
*.so
*.dylib

# Если вы собираете бинарник с конкретным именем в корень проекта, добавьте его:
# /my-app-name

# Тестовые файлы и файлы покрытия
*.test
*.out
coverage.txt

# Зависимости
# Если вы используете 'go mod', папка vendor обычно не коммитится.
# Раскомментируйте, если НЕ хотите хранить vendor в репозитории:
# vendor/

# Файлы окружения и секреты
.env
.env.local

# Инструменты сборки и кеш
.cache/
obj/

# Специфичные файлы для ОС (macOS / Windows)
.DS_Store
Thumbs.db

# Настройки популярных IDE
.idea/
.vscode/
*.swp
*.swo
